node_modules
**/node_modules
npm-debug.log
**/npm-debug.log
**/.git
**/.gitignore
**/.DS_Store
.dockerignore
build
dist
.husky
.vscode
.eslintignore
.eslintrc
.stylelintrc
.prettierrc
.prettierignore
.lintstagedrc
.editorconfig
